<div class="container bd-content" style="padding: 3rem 1.5rem">

    <h3 class="pageTitle">Update Listing</h3>

    <form id="updateListing">
        <fieldset>
            <div class="form-group row">
                <label for="Address" class="col-sm-2 col-form-label">Address</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control addRecord" name="Address" id="Address" value="{{results.Address}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="City" class="col-sm-2 col-form-label">City</label>
                <div class="col-sm-10">
                    <select class="form-control addRecord" name="City" id="City">
                        {{#each cities}}
                        <option value="{{this.Id}}">{{this.Name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="ZipCode" class="col-sm-2 col-form-label">Zip-Code</label>
                <div class="col-sm-10">
                    <select class="form-control addRecord" name="ZipCode" id="ZipCode">
                        {{#each zips}}
                        <option value="{{this.Code}}">{{this.Code}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="PropertyType" class="col-sm-2 col-form-label">Property-Type</label>
                <div class="col-sm-10">
                    <select class="form-control addRecord" name="PropertyType" id="PropertyType">
                        {{#each property}}
                        <option value="{{this.Id}}">{{this.Name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="ByOwner" class="col-sm-2 col-form-label">By Owner</label>
                <div class="col-sm-10">
                    <input type="checkbox" value="1" class="form-control addRecord" name="ByOwner" id="ByOwner">
                </div>
            </div>
            <div class="form-group row">
                <label for="DateListed" class="col-sm-2 col-form-label">Date Listed</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control addRecord" name="DateListed" id="DateListed" value="{{results.DateListed}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="ListPrice" class="col-sm-2 col-form-label">List Price</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control addRecord" name="ListPrice" id="ListPrice" value="{{results.ListPrice}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="DateSold" class="col-sm-2 col-form-label">Date Sold</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control addRecord" name="DateSold" id="DateSold" value="{{results.DateSold}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="SellPrice" class="col-sm-2 col-form-label">Sell Price</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control addRecord" name="ListPrice" id="SellPrice" value="{{results.SellPrice}}">
                </div>
            </div>
            <button type="button" class="btn btn-primary" name="Submit" id="editCityButton" onclick="updateListing({{results.Id}})">Update</button>

        </fieldset>

    </form>
    </div>
    <script src="public/db_update.js"></script>
    <script defer>
    selectCity({{ results.City }});
    selectZipCode({{ results.ZipCode }});
    selectPropertyType({{ results.PropertyType }});
    selectByOwner({{ results.ByOwner }});

    </script>
